html {
    height: 100%;
    margin: 0;
}

#wrapper{
    margin: 0;
}
#innerWrapper{
    margin: 0;
}
#gamingTable {
    position: fixed;
}
.shopCard {
    width: 60px;
    height: 70px;
    align-items: center;
}
.shopCardDiv {
    width: 500px;
    display: flex;
    flex-direction: row;
}
.cardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4 {
    color: white;
    text-align: center;
    margin-bottom: 0;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.imgur.com/HrGlL6O.png);
    background-size: 1150px; /*change to cover to get desired look */
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    margin: 0;
}

#playerTurnButton img{
    position: fixed;
    width: 47px;
    height: 47px;
    top: 145px;
    left: 250px;
}

#computerTurnButton {
    position: fixed;
    width: 47px;
    height: 47px;
}

#computerTurnButton img{
    position: fixed;
    width: 47px;
    height: 47px;
    top: 145px;
    left: 854px;
    }

#computerCard0 {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 591px;

}
#computerCard1  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 670px;
}
#computerCard2  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 750px;
}
#computerCard3  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 830px;
}
#playerCard0 {
    position: fixed;
    top: 475px;
    left: 250px;
    width: 75px;
    height: 93px;
}
#playerCard1 {
    position: fixed;
    top: 475px;
    left: 327px;
    width: 75px;
    height: 93px;
}
#playerCard2 {
    position: fixed;
    top: 475px;
    left: 404px;
    width: 75px;
    height: 93px;
}
#playerCard3 {
    position: fixed;
    top: 475px;
    left: 481px;
    width: 75px;
    height: 93px;
}
#playerName {
 
    color: white;
    position: fixed;
    top: 148px;
    left: 315px;
}
#opponentName {
    color: white;
    position: fixed;
    text-align: left;
}
#opponentNameBox{
    width: 200px;
    height: 20px;
    position: absolute;
    left: 640px;
    top: 148px;
    display: flex;
   justify-content: right;
   align-items: right;
}
#play1Button {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 278px;
}
.reverse0 {
    position: fixed;
    top: 568px;
    left: 249px;  
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.reverse1 {
    position: fixed;
    top: 568px;
    left: 329px;  
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.reverse2 {
    position: fixed;
    top: 568px;
    left: 405px;  
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.reverse3 {
    position: fixed;
    top: 568px;
    left: 485px;  
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
#play1Button:hover {
    color: white;
    border-color: orange;
}
#play1Button:disabled {
    color:grey;
    border-color: grey;
}
#play2Button {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 357px;
}
#play2Button:hover {
    color: white;
    border-color: orange;
}
#play2Button:disabled {
    color:grey;
    border-color: grey;
}
#play3Button {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 435px;
}
#play3Button:hover {
    color: white;
    border-color: orange;
}
#play3Button:disabled {
    color:grey;
    border-color: grey;
}
#play4Button {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 513px;
}
#play4Button:hover {
    color: white;
    border-color: orange;
}
#play4Button:disabled {
    color:grey;
    border-color: grey;
}
#standButton {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: #f4a261;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    top: 601px;
    left: 798px;
    cursor: pointer;
}
#standButton:hover {
    color: red;
}
#standButton:disabled {
    color:grey;
    border-color: grey;
}
#endTurnButton {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    top: 601px;
    left: 635px;
    cursor: pointer;
}
#endTurnButton:hover {
    color: red;
}
#endTurnButton:disabled {
    color:grey;
    border-color: grey;
}
#newGame{
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    top: 628px;
    left: 700px;
}
#newGame:hover {
    border-color: green;
    color: white;
}
#newGame:disabled {
    color:grey;
    border-color: grey;
}
#playerScore {
    text-align: center;
    color: white;
    position: fixed;
    top: 154px;
    left: 539px;
}
#opponentScore {
    text-align: center;
    color: white;
    position: fixed;
    top: 154px;
    left: 593px;
}
#rPlayerCard0 {
    position: fixed;
    top: 190px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard1 {
    position: fixed;
    top: 190px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard2 {
    position: fixed;
    top: 190px;
    left: 478px;
    width: 65px;
    height: 79px;
}
#rPlayerCard3 {
    position: fixed;
    top: 279px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard4 {
    position: fixed;
    top: 279px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard5 {
    position: fixed;
    top: 279px;
    left: 479px;
    width: 65px;
    height: 79px;
}
#rPlayerCard6 {
    position: fixed;
    top: 368px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard7 {
    position: fixed;
    top: 368px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard8 {
    position: fixed;
    top: 368px;
    left: 479px;
    width: 65px;
    height: 79px;
}
#rComputerCard0 {
    position: fixed;
    top: 190px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard1 {
    position: fixed;
    top: 190px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard2 {
    position: fixed;
    top: 190px;
    left: 765px;
    width: 65px;
    height: 79px;
}
#rComputerCard3 {
    position: fixed;
    top: 280px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard4 {
    position: fixed;
    top: 280px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard5 {
    position: fixed;
    top: 280px;
    left: 765px;
    width: 65px;
    height: 79px;
}
#rComputerCard6 {
    position: fixed;
    top: 367px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard7 {
    position: fixed;
    top: 367px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard8 {
    position: fixed;
    top: 367px;
    left: 765px;
    width: 65px;
    height: 79px;
}
/* Delete these buttons eventually */
#testComputerUseCard{
    position: fixed;
    top: 490px;
    left: 920px;
    cursor: pointer;
}
#testPlayerTurn{
    position: fixed;
    top: 150px;
    left: 100px;
    cursor: pointer;
}
#testPlayerWins {
    position: fixed;
    top: 250px;
    left: 100px;
    cursor: pointer;
}
#testComputerWins {
    position: fixed;
    top: 250px;
    left: 920px;
    cursor: pointer;
}
#playerWinLight1 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 221px;
    left: 254px;
}
#playerWinLight2 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 253px;
    left: 254px;
}
#playerWinLight3 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 285px;
    left: 254px;
}
#computerWinLight1 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 221px;
    left: 873px;
}
#computerWinLight2 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 253px;
    left: 873px;
}
#computerWinLight3 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 285px;
    left: 873px;
}
#cantina {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    width: 168px;
    top: 606px;
    left: 377px;
    cursor: pointer;
}
#cantina:hover {
    border-color: #1982c4;
    color: lightgrey;
}
#tutorial {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    position: fixed;
    height: 50px;
    top: 600px;
    left: 275px;
    cursor: pointer;
}
#tutorial:hover {
    border-color: #1982c4;
    color: white;
}
#testDeal {
    position: fixed;
    top: 400px;
    left: 250px;
    cursor: pointer;
}
#testCDeal {
    position: fixed;
    top: 400px;
    left: 850px;
    cursor: pointer;
}
#testCStand {
    position: fixed;
    top: 430px;
    left: 850px;
    cursor: pointer;
}
#nextRound {
    position: fixed;
    top: 630px;
    left: 950px;
    cursor: pointer;
}
#iziz {
    color: White;
    position: fixed;
    width: 168px;
    top: 627px;
    left: 383px;
    cursor: pointer;
}
#messageBackgroundHidden {
display: none;
}
#winMessage{
    color: white;
    text-align: center;
    font-size: 1.3em;
}
p, span {
    color: white;
    text-align: left;
}
#money{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    border: solid 5px rgba(112, 112, 113, 0.9);
    width: 150px;
    height: 80px;
    left: 37px;
    top: 335px;
    align-items: center;
    justify-content: center;
}
#messageButton {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
 text-align: center;
 width: 100%;
 cursor: pointer;
}
#messageButton:hover {
    border-color: green;
    color: white;
}
#begin{
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center;
    width: 30%;
    cursor: pointer;
}
#begin:hover{
    border-color: green;
    color: white; 
}
#payDebt {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center;
    width: 30%;
    cursor: pointer;
}
#payDebt:hover {
    border-color: green;
    color: white;    
}
#payDebt:disabled{
    color:grey;
    border-color: grey;
}
#shop:hover {
    border-color: green;
    color: white;  
}
#buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
#shop {
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: #264653;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center;
    width: 30%;
}
#shop:hover {
    border-color: green;
    color: white;  
}
#playerStandDisplay{
    background-color: rgb(48, 55, 66,.5);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 318px;
    top: 185px;
    z-index: 10;
}
#computerStandDisplay{
    background-color: rgb(48, 55, 66,.5);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 605px;
    top: 185px;
    z-index: 10;
}
#playerStandHidden{
    display: none;
}
#computerStandHidden{
    display: none;
}
#bonus1 {
    color: yellow;
}
#bonus2 {
    color: white;
}
#bonus3 {
    color: white;
    font-size: 1.5em;
}
#shopName{
    display: flex;
    flex-direction: row;
}
#closeShop{
    margin-top: 15px;
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: red;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center; 
    width: 40%;  
}
#closeShop:hover{
    border-color: green;
    color: white; 
}
.buy4 {
    margin-top: 10px;
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: white;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center; 
    width: 50%; 
}
.buy4:hover {
    border-color: green;
    color: white; 
}
.buy4:disabled{
    color:grey;
    border-color: grey;
}
#buy1{
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: white;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center; 
    width: 20%;  
}
#buy1:hover{
    border-color: green;
    color: white; 
}
#buy1:disabled{
    color:grey;
    border-color: grey;
}
#buy2{
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: white;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center;  
    width: 20%; 
}
#buy2:hover{
    border-color: green;
    color: white; 
}
#buy2:disabled{
    color:grey;
    border-color: grey;
}
#buy3{
    cursor: pointer;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: white;
    color: white;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    text-align: center; 
    width: 20%; 
}
#buy3:hover{
    border-color: green;
    color: white; 
}
#buy3:disabled{
    color:grey;
    border-color: grey;
}
h1{
    text-decoration: underline;
    color: white;
}
#shopButtons{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-around;
}
#itemsAndButtonsDiv{
    display:flex;
    flex-direction: column;
}
#shopItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extras {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shopDiv{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, 0.9);
    border-radius: 15%;
    border: solid 5px rgba(188, 188, 0, 0.9);
    width: 650px;
    height: 550px;
    left: 245px;
    top: 100px;
    z-index: 1;
    align-items: center;
}
#messageBackgroundDisplayed {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgba(19, 28, 123, 0.8);
    border-radius: 15%;
    border: solid 5px rgba(112, 112, 113, 0.9);
    width: 550px;
    height: 150px;
    left: 293px;
    top: 235px;
    z-index: 1;
    align-items: center;
    }
    a{
        color:white;
        margin-left: 10px;
    }
#creditPage {
    position: fixed;
    background-color: #264653;
    width: 1115px;
    height: 75px;
    left: 18px;
}
#recreated {
    color: white;
    margin-right: 188px;
    text-align: right;
}
#AR {
    color: white;
    text-align: right;
    margin-right: 160px;
    font-size: 1.3em;
}
#linkedin {
    color: white;
}
#logo {
    position: fixed;
    left: 473px;
    top: -65px;
    height: 200px;
    width: 200px;
}
#left {
    font-size: 1.5rem;
    border: solid ;
    border-color: white;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  align-items: baseline; 
}
#left:hover{
    color: white;
    border-color: orange;
}
#right {
    font-size: 1.5rem;
    border: solid ;
    border-color: white;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  align-items: baseline;
}
#right:hover{
    color: white;
    border-color: orange;
}

#closeCarousel{
    font-size: 1.1rem;
    border: solid ;
    border-color: white;
    color: orange;
    background: none;
    border-radius: 50px;
    transition: all 0.5s;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  align-items: baseline;  
}
#closeCarousel:hover{
    color: red;
    border-color: orange;
}

.carousel{
    position: absolute;
    display: flex;
  flex-direction: column;
    background-color:rgba(1, 40, 10, 0.9);
    border-radius: 15%;
    border: solid 5px rgba(112, 112, 113, 0.9);
    width: 750px;
    height: 550px;
    left: 200px;
    top: 125px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.carousel_nav{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
}
#cPic {
    border-radius: 25%;
    width: 100%;
    height: 90%;
}

#closeCarousel {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    align-items: baseline;
}

.hidden {
    display: none;
}

#enterName{
    width: 25%;
    text-align: center;
}