html {
    height: 100%;
}

body {
    background-image: url(https://i.imgur.com/HrGlL6O.png);
    background-size: 1150px;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#gamingTable {
    position: fixed;
}

p {
    margin: 0;
}

#playerTurnButton img{
    position: fixed;
    width: 47px;
    height: 47px;
    top: 145px;
    left: 250px;
}

#computerTurnButton {
    position: fixed;
    width: 47px;
    height: 47px;
}

#computerTurnButton img{
    position: fixed;
    width: 47px;
    height: 47px;
    top: 145px;
    left: 854px;
    }

#computerCard0 {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 591px;

}
#computerCard1  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 670px;
}
#computerCard2  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 750px;
}
#computerCard3  {
    position: fixed;
    width: 77px;
    height: 95px;
    top: 475px;
    left: 830px;
}
#playerCard0 {
    position: fixed;
    top: 475px;
    left: 250px;
    width: 75px;
    height: 93px;
}
#playerCard1 {
    position: fixed;
    top: 475px;
    left: 327px;
    width: 75px;
    height: 93px;
}
#playerCard2 {
    position: fixed;
    top: 475px;
    left: 404px;
    width: 75px;
    height: 93px;
}
#playerCard3 {
    position: fixed;
    top: 475px;
    left: 481px;
    width: 75px;
    height: 93px;
}
#playerName {
 
    color: white;
    position: fixed;
    top: 148px;
    left: 315px;
}
#opponentName {
    color: white;
    position: fixed;
    top: 148px;
    left: 780px;
}
#play1Button {
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 265px;
}
/* #play1Button:hover {
    color: orange;
} */
#play2Button {
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 344px;
}
/* #play2Button:hover {
    color: orange;
} */
#play3Button {
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 422px;
}
/* #play3Button:hover {
    color: orange;
} */
#play4Button {
    position: fixed;
    cursor: pointer;
    top: 571px;
    left: 500px;
}
/* #play4Button:hover {
    color: orange;
} */
#standButton {
    color: black;
    position: fixed;
    top: 601px;
    left: 798px;
    cursor: pointer;
}
#endTurnButton {
    color: black;
    position: fixed;
    top: 601px;
    left: 635px;
    cursor: pointer;
}
#newGame{
    color: black;
    position: fixed;
    top: 628px;
    left: 700px;
}
#playerScore {
    text-align: center;
    color: white;
    position: fixed;
    top: 154px;
    left: 539px;
}
#opponentScore {
    text-align: center;
    color: white;
    position: fixed;
    top: 154px;
    left: 593px;
}
#rPlayerCard0 {
    position: fixed;
    top: 190px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard1 {
    position: fixed;
    top: 190px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard2 {
    position: fixed;
    top: 190px;
    left: 478px;
    width: 65px;
    height: 79px;
}
#rPlayerCard3 {
    position: fixed;
    top: 279px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard4 {
    position: fixed;
    top: 279px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard5 {
    position: fixed;
    top: 279px;
    left: 479px;
    width: 65px;
    height: 79px;
}
#rPlayerCard6 {
    position: fixed;
    top: 368px;
    left: 322px;
    width: 65px;
    height: 79px;
}
#rPlayerCard7 {
    position: fixed;
    top: 368px;
    left: 400px;
    width: 65px;
    height: 79px;
}
#rPlayerCard8 {
    position: fixed;
    top: 368px;
    left: 479px;
    width: 65px;
    height: 79px;
}
#rComputerCard0 {
    position: fixed;
    top: 190px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard1 {
    position: fixed;
    top: 190px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard2 {
    position: fixed;
    top: 190px;
    left: 765px;
    width: 65px;
    height: 79px;
}
#rComputerCard3 {
    position: fixed;
    top: 280px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard4 {
    position: fixed;
    top: 280px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard5 {
    position: fixed;
    top: 280px;
    left: 765px;
    width: 65px;
    height: 79px;
}
#rComputerCard6 {
    position: fixed;
    top: 367px;
    left: 608px;
    width: 65px;
    height: 79px;
}
#rComputerCard7 {
    position: fixed;
    top: 367px;
    left: 687px;
    width: 65px;
    height: 79px;
}
#rComputerCard8 {
    position: fixed;
    top: 367px;
    left: 765px;
    width: 65px;
    height: 79px;
}
/* Delete these buttons eventually */
#testComputerUseCard{
    position: fixed;
    top: 490px;
    left: 920px;
    cursor: pointer;
}
#testPlayerTurn{
    position: fixed;
    top: 150px;
    left: 100px;
    cursor: pointer;
}
#testPlayerWins {
    position: fixed;
    top: 250px;
    left: 100px;
    cursor: pointer;
}
#testComputerWins {
    position: fixed;
    top: 250px;
    left: 920px;
    cursor: pointer;
}
#playerWinLight1 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 221px;
    left: 254px;
}
#playerWinLight2 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 253px;
    left: 254px;
}
#playerWinLight3 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 285px;
    left: 254px;
}
#computerWinLight1 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 221px;
    left: 873px;
}
#computerWinLight2 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 253px;
    left: 873px;
}
#computerWinLight3 img{
    position: fixed;
    width: 23px;
    height: 29px;
    top: 285px;
    left: 873px;
}
#cantina {
    position: fixed;
    width: 168px;
    top: 606px;
    left: 377px;
    cursor: pointer;
}
#tutorial {
    position: fixed;
    height: 50px;
    top: 600px;
    left: 275px;
    cursor: pointer;
}
/* #tutorial:hover {
    background-image: url(https://i.imgur.com/CJBoq6j.jpg);
} */
#testDeal {
    position: fixed;
    top: 400px;
    left: 250px;
    cursor: pointer;
}
#testCDeal {
    position: fixed;
    top: 400px;
    left: 850px;
    cursor: pointer;
}
#testCStand {
    position: fixed;
    top: 430px;
    left: 850px;
    cursor: pointer;
}
#nextRound {
    position: fixed;
    top: 630px;
    left: 950px;
    cursor: pointer;
}
#iziz {
    color: White;
    position: fixed;
    width: 168px;
    top: 627px;
    left: 383px;
    cursor: pointer;
}
#messageBackgroundHidden {
position: fixed;
background-color: 29, 42, 184,.5;
border-radius: 15%;
width: 500px;
height: 300px;
left: -800px;
top: 220px;
z-index: 5;
}
#winMessage{
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 1.3em;
}
#messageButton {
    position: absolute;
    margin-top: 30px;
    margin-left: 235px;
 text-align: center;
}
#playerStandDisplay{
    background-color: rgb(48, 55, 66,.5);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 318px;
    top: 185px;
    z-index: 10;
}
#computerStandDisplay{
    background-color: rgb(48, 55, 66,.5);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 605px;
    top: 185px;
    z-index: 10;
}
#playerStandHidden{
    background-color: rgb(48, 55, 66,0);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 318px;
    top: 185px;
}
#computerStandHidden{
    background-color: rgb(48, 55, 66,0);
    width: 228px;
    height: 265px;
    position: fixed;
    left: 605px;
    top: 185px;
}
#messageBackgroundDisplayed {
    position: fixed;
    background-color:rgba(19, 28, 123, 0.8);
    border-radius: 15%;
    border: solid 5px rgba(112, 112, 113, 0.8);
    width: 550px;
    height: 150px;
    left: 293px;
    top: 235px;
    z-index: 1;
    }
/* The following code is NOT mine but came from https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
/* #cantina {
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: fixed;
    left: 370px;
    top: 600px;
    z-index: 0;
    border-radius: 10px;
}

#cantina:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#cantina:active {
    color: #000
}

#cantina:active:after {
    background: transparent;
}

#cantina:hover:before {
    opacity: 1;
}

#cantina:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
/* Comment out to the code above to make sure I'm only using code I've written */